{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About Friendster</h1>

    <hr>

    <p>Voluptatem! Tellus molestie eaque ante condimentum placeat justo! 
        Incidunt wisi a anim tempora laboriosam sint, parturient nibh facere 
        architecto incidunt tempore bibendum, nec mauris ducimus quae maecenas 
        cupidatat! Ipsa facere occaecat earum! Taciti? Risus est hic cillum 
        cras inventore elit, integer dolore nobis morbi adipiscing nec velit 
        adipisci ullamco laudantium.</p>

    <p>Nobis debitis blanditiis quia elit laudantium mollis potenti. 
        Aliquid lorem unde. Dui, sem aliquam, dolorem reprehenderit, 
        quasi ea. Montes, mauris, pharetra volutpat dolore mauris 
        odio duis doloremque laoreet pharetra necessitatibus ante wisi, 
        sociosqu, pharetra sem ad ridiculus orci asperiores magnam! 
        Aliquam conubia! Assumenda venenatis gravida? Ipsam ornare 
        dignissim ex natus.</p>

    <p>Explicabo volutpat auctor dictumst id, voluptates, qui facilisi
        mollitia curae, ullamcorper dolorum, veritatis accusamus 
        mollit ab pellentesque mollitia! Ullamcorper accumsan maxime 
        quia beatae occaecat, itaque maxime mus congue tempor. In, pulvinar,
        incidunt, nunc, praesent consequuntur voluptates! Ad! Nostra 
        sapiente praesentium ipsam? Maxime? Fugit excepteur curae 
        integer dis provident perspiciatis, ab.</p>
    
    <p>Bibendum sunt varius nam id facere cubilia sollicitudin incididunt. 
        Optio vel platea, esse quas doloribus molestie? Alias quo, 
        pharetra magni! Facilisis nunc lacus maiores. Magnam lorem 
        architecto culpa dignissim deserunt nemo earum voluptatum 
        officiis possimus, risus? Ornare scelerisque aperiam perferendis? 
        Lorem quisquam pede ornare, dignissimos tempus auctor eaque, 
        dolor ratione.</p>
{% endblock %}
