{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Friendster!</h1>

    <hr>

    {% if current_user.is_authenticated %}
      <p>Hi {{ current_user.name }}!</p>
    {% endif %}

    <p>Voluptatem! Tellus molestie eaque ante condimentum placeat justo! 
        Incidunt wisi a anim tempora laboriosam sint, parturient nibh facere 
        architecto incidunt tempore bibendum, nec mauris ducimus quae maecenas 
        cupidatat! Ipsa facere occaecat earum! Taciti? Risus est hic cillum 
        cras inventore elit, integer dolore nobis morbi adipiscing nec velit 
        adipisci ullamco laudantium.</p>
{% endblock %}
